body {
  background-image: url(assets/bg_notepad.jpg);
  background-color: #05121b;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, "sans-serif";
}
.boxRegister {
  outline: none !important;
  background-color: #00000066;
  width: 400px;
  max-width: 800px;
  max-height: 1000px;
}
.boxRegister_h2 {
  margin: 25px 0px 10px;
  text-align: center;
  color: #fff;
  font-size: 41px;
}
form {
  width: 90%;
  margin: auto;
}
form > .boxInput {
  margin: 0px 0px 25px 0px;
}
form > .boxInput > label {
  display: block;
  color: #fff;
  padding-bottom: 10px;
}
form > .boxInput > input {
  width: 99%;
  height: 25px;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.sendPost {
  width: 100%;
  height: 45px;
  font-size: x-large;
  margin-top: 14px;
  border: none;
  outline: none;
  background-color: #05121b;
  color: #fff;
  cursor: pointer;
}
.sendPost:hover {
  background-color: #071a27;
}
.linkRegisterLogin {
  text-align: center;
  padding: 30px 0px 20px 0px;
}
.linkRegisterLogin > a {
  color: #fff;
  font-weight: 700;
}
.message {
  color: #f75656;
  margin: 0px auto;
  width: 90%;
  font-size: 14px;
  padding: 0px 0px 13px 0px;
}
@media (max-width: 430px) {
  .boxRegister {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  form {
    margin: 0px;
  }
}

/* Dashboard */
.appContainer {
  max-width: 1320px;
  width: 90%;
  margin: 0 auto 15px auto;
}

.titleApp {
  width: 95%;
  margin: auto;
  padding-top: 33px;
}

.titleApp > h1,
.titleApp > h3 {
  color: #fff;
  display: inline-block;
  margin: 0;
}

.titleApp > h1 {
  font-size: 50px;
}

.titleApp > h3 {
  font-size: 30px;
}

.noteContainer {
  background-color: #00000066;
  width: 95%;
  margin: auto;
  padding-bottom: 1px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.boxInfo {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  padding-top: 25px;
}

.boxInfo > p {
  color: #fff;
  font-size: 25px;
  margin: 0;
}

.boxInfo > button > a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
}

button {
  outline: none;
  border: none;
  background-color: #05121b;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 9px 20px;
  border-radius: 8px;
}

.button-text {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}

.boxAdd {
  width: 95%;
  margin: auto;
  padding: 15px 0;
}

.boxNote {
  outline: 1px solid white;
  width: 95%;
  margin: auto;
  display: flex;
  border-radius: 10px;
  margin-bottom: 25px;
}

.boxNote > .nota {
  width: 90%;
  font-size: 14px;
  color: #fff;
  margin: 10px 0 10px 10px;
  display: flex;
  align-items: center;
}

.boxOptions,
.boxSend {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 15%;
  margin: 10px;
}

.boxOptions > .btnUpdate,
.boxOptions > .btnDelete {
  width: 90%;
  margin: 0 0 10px 0;
  color: #fff;
  font-size: 18px;
  justify-content: center;
}

.boxOptions > .btnDelete {
  margin-bottom: 0;
}

.boxOptions > .btnUpdate {
  background-color: #070f2b;
}

form.addNoteBox {
  width: 95%;
  margin: auto;
  display: flex;
  margin-bottom: 20px;
}

textarea#note {
  border: none;
  outline: none;
  height: 103px;
  width: 90%;
  border-radius: 10px;
  font-size: 14px;
  background-color: #fff9;
  padding: 10px 0 10px 10px;
  resize: none;
}

.boxSend {
  justify-content: flex-start;
  margin: 0 10px 0 10px;
}

button.hiddenBox,
button.submitNote,
button.updateNote {
  width: 85%;
  color: #fff;
  font-size: 18px;
  justify-content: center;
  margin-bottom: 10px;
}

.svg {
  display: inline-block;
  width: 25px;
  padding-left: 10px;
}

p.texto {
  margin: 0;
  font-size: 20px;
  color: #fff;
}

.notNotes {
  text-align: center;
  color: #fff;
}

.boxOptions > .btnUpdate,
.boxOptions > .btnDelete,
button.hiddenBox,
button.submitNote,
button.updateNote {
  justify-content: center;
  width: 93%;
}

@media (max-width: 800px) {
  .boxNote > .nota {
    width: 75%;
  }

  .boxOptions,
  .boxSend {
    width: 21%;
  }
}

@media (max-width: 500px) {
  p.texto {
    margin: 0;
    font-size: 0px;
    color: #fff;
}
  .boxNote {
    flex-direction: column;
    width: 90%;
  }

  .boxOptions,
  .boxSend {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .boxNote > .nota {
    width: 90%;
    padding: 10px 0px;
    margin: auto;
    justify-content: flex-start;
  }

  button.addShowBox {
    font-size: 0px;
    justify-content: center;
  }

  .boxInfo > button > a,
  button.addShowBox {
    font-size: 0px;
    width: 100%;
  }

  .svg {
    padding-left: 0px;
  }

  button {
    width: 30%;
  }

  .boxInfo {
    align-items: center;
    width: 90%;
  }

  .boxInfo > button > a {
    display: block;
  }

  .boxAdd {
    width: 90%;
  }

  .titleApp {
    width: 90%;
    padding-top: 0px;
  }

  .appContainer {
    margin: 15px 0px;
  }

  form.addNoteBox {
    flex-direction: column;
    align-items: center;
    width: 88%;
  }

  button.hiddenBox,
  button.submitNote {
    width: 100%;
    justify-content: center;
    margin-bottom: 0px;
  }

  button.submitNote {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  form.updateNoteBox {
    margin: auto;
    flex-direction: column;
    width: 90%;
    margin-bottom: 20px;
  }

  button.updateNote {
    width: 100%;
    margin-top: 10px;
  }

  textarea#note {
    width: 97%;
  }
}
